

.codeline-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.codeline-container:nth-child(even) {
    background-color: #f3f3f3;
}
.codeline-text-container {
    flex: 2;
    align-self: center;
}
.codeline-context-container {
    display: flex;
    flex: 5;
    align-items: center;
}
.codeline-predictions-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2;
}
.codeline-categories-container {
    align-self: center;
    flex: 2;
}
.codeline-assign-container {
    align-self: center;
    flex: 1;
}
.codeline-check-container {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.codeline-text {
    width: 90%;
    background-color: inherit;
    border: none;
}
.codeline-prediction {
    flex: 1;
}
.codeline-check {
    transform: scale(2.5);
}
.codeline-header-container {
    display: flex;
    justify-content: space-between;
}
.codeline-header {
    padding: 20px 0;
    font-size: 1.25em;
}
.flex-5 {
    flex: 5;
}
.flex-2 {
    flex: 2;
}
.flex-1 {
    flex: 1;
}


button {
    padding: 15px;
}
button.width-75 {
    width: 75%;
}
button.prediction-low {
    background-color: #ff8686;
    border: 1px #e14444 solid;
}
button.prediction-medium {
    background-color: #ecec6a;
    border: 1px #afa44d solid;
}
button.prediction-high {
    background-color: #c4ffb1;
    border: 1px #78c553 solid;
}
button.assign-code {
    background-color: #c1eaff;
    border: 1px #56c2ff solid;
}
button.assign-code:disabled {
    background-color: #ddf1ff;
}
button.no-code {
    background-color: #ffc1c1;
    border: 1px #ff7b7b solid;
}
button.fetch {
    background-color: #e8e8e8;
    border: 1px #c5c5c5 solid;
}

.code-bulk-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
    z-index: 100;
    padding-bottom: 20px;
}
.code-bulk-actions-container {
    display: flex;
}
.code-bulk-actions-filler {
    flex: 10;
    margin: 10px;
}
.code-bulk-actions-content {
    flex: 1;
    margin: 10px;
}
.code-bulk-bulk-container {
    display: flex;
    align-items: center;
}
.code-bulk-categories {
    flex: 10;
    margin: 10px;
}
.code-bulk-assign {
    flex: 1;
    margin: 10px;
}